.navbar {
    background: #000!important;
    font-family: 'Majesti-Banner-BoldItalic', sans-serif;
    &:hover {
        .nav-animation {
            transition: all .1s linear;
            transform: scale(3.5);
            text-transform: uppercase;
            font-weight: bold;
          }
    }
    a {
        color: #ffffff!important;
        font-size: 20px;
        font-family: 'Majesti-Banner-BoldItalic', sans-serif;
    }
    .navbar-collapse {
        position: absolute;
        z-index: 99;
        top: 98px;
        right: 0px;
        background: rgb(0, 0, 0);
        width: 250px;
        text-align: center;
        padding-bottom: 15px;
    }
  }
  