.navbar {
  // padding: 15px 10px 15px 10px;
  background: transparent;
  font-family: "Majesti-Banner-BoldItalic", sans-serif;
  padding: 50px 50px 100px 50px;
  margin: 0% 8% 0% 8%;
  animation: fadeIn linear forwards 2s;
    -webkit-animation: fadeIn linear forwards 2s;
    -moz-animation: fadeIn linear forwards 2s;
    -o-animation: fadeIn linear forwards 2s;
    -ms-animation: fadeIn linear forwards 2s;



  &:hover {
    .nav-animation {
      transition: all 0.1s linear;
      transform: scale(3.5);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .nav-top {
    align-items: left;
      .nav-link {
      color: #ffffff !important;
      opacity: 0;
      margin: 5px 10px 0 10px;
      font-size: 20px;
      animation: fadeIn linear forwards 2s;
      -webkit-animation: fadeIn linear forwards 2s;
      -moz-animation: fadeIn linear forwards 2s;
      -o-animation: fadeIn linear forwards 2s;
      -ms-animation: fadeIn linear forwards 2s;
      &:hover {
        color: $primary !important;
      }
    }
  }
}


