.navbar {
    background: #000!important;
    font-family: 'Majesti-Banner-BoldItalic', sans-serif;
    &:hover {
        .nav-animation {
            transition: all .1s linear;
            transform: scale(3.5);
            text-transform: uppercase;
            font-weight: bold;
          }
    }
    a {
        color: #ffffff!important;
        font-size: 20px;
        font-family: 'Majesti-Banner-BoldItalic', sans-serif;
    }
    .navbar-collapse {
        position: absolute;
        z-index: 99;
        top: 69px;
        right: 0px;
        background: rgb(0, 0, 0);
        width: 100%;
        max-height: 500px;
        text-align: right;
        padding-bottom: 15px;
        padding-right: 30px;
        //transition: all 2s;
        .nav-link {
            opacity: 0;
            font-size: 75px;
            animation: fadeIn linear forwards 2s;
            -webkit-animation: fadeIn linear forwards 2s;
            -moz-animation: fadeIn linear forwards 2s;
            -o-animation: fadeIn linear forwards 2s;
            -ms-animation: fadeIn linear forwards 2s;
            &:hover {
                color: $primary!important;
            }
            &:nth-child(2) {
                animation-delay: 0.5s;
                color: $light-grey!important;
                &:hover {
                    color: $secondary!important;
                }
            }
            &:nth-child(3) {
                animation-delay: 1s;
                color: $primary!important;
                &:hover {
                    color: $light-grey!important;
                }
            }
            &:nth-child(4) {
                animation-delay: 1.5s;
                color: $secondary!important;
                &:hover {
                    color: $white!important;
                }
            }
        }
    }
  }