.nft-display {
    background-color: #151515;
    box-shadow: rgb(0, 0, 0) 1px 1px 4px;
    border-radius: 2px;
    color: white;
    // width: auto;
    // height: auto;
    .nft-activity {
        font-size: 1.30em;
        font-weight: 600;
        z-index: 2;
        position: absolute;
        padding: 0px 0px 0px 0px;
        text-align: left;
        color: white;
        padding-left: auto !important;
        transition: 0.5s ease-in-out;
        .nft-details {
            display: block;

            a {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;

                &:hover {
                    color: $primary!important;
                }
            }
        }
    }
    .profile-image {
        width: 25%;
        
    }

    .price-nft {
        font-size: 1.85em;
        color: green;
        font-weight: 700;
    }


    &:hover {
        .nft-activity {
            background-color: #151515 !important;
            transition: 0.35s ease-in-out;
        }
    }

    .explore-card-image {
        border-radius: 2px 2px 0px 0px;
        object-fit:cover;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        overflow: hidden;
    }
    .nft-body {
        font-size: 1.25em;
        line-height: 20px;
    }
    .card-body {
        padding: 0px 0px 0px 0px ;
        .creator {
            font-weight: 600;
        }
        .btn-regal {
            margin-top: 3px;
            padding: 15px 30px 15px 30px;
        }
        .price-col {
            line-height: 25px;
            letter-spacing: 4px;
            font-weight: 600;
        }

        .nft-overlay {
            span {
                &.negative {
                    color: red !important;
                }
                &.positive {
                    color: green !important;
                }
                &.first {
                    color: rgb(187, 115, 33) !important;
                }
            }
        }
    }
    .nft-footer {
        font-size: 1em;
        display: flex;
        // display: flex;
        justify-content:center;
    }
}