.nft-display {
    border-radius: 15px;

    .explore-card-image {
        border-radius: 15px 15px 0px 0px;
        padding: 3px;
        width: 1200px;
        object-fit:cover;
        height: 400px;
    }

    .card-body {

        .nft-overlay {
            font-size: 14px;
            font-weight: 600;
            z-index: 2;
            position: absolute;
            bottom: 250px;
            right: 8px;
            background-color: rgb(0, 0, 0);
            border-radius: 4px 4px 0px 4px;
            padding: 10px 15px 10px 15px;
            span {
                &.negative {
                    color: red !important;
                }
                &.positive {
                    color: green !important;
                }
                &.first {
                    color: yellow !important;
                }
            }
        }

        .nft-activity {
            display: flex;
            color: black;
            width: 100%;

            .nft-details {
                display: block;

                a {
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 2px;

                    &:hover {
                        color: $primary!important;
                    }
                }
            }
        }
    }

    .nft-footer {
        font-size: 10px;
        display: flex;
        // display: flex;
        justify-content:flex-start;
    }
    
    // .card-link {
    //     a:hover, a:visited, a:link, a:active
    //     {
    //         text-decoration: none;
    //     }
    // }
}