.ipfs-upload-button {
    width: 1000px;
    height: 1000px;
    border-radius: 10px;
    background-color: transparent;
    // align-self: center;
    margin-left: 2vh;
}

.form-flex {
    display: flex;
    flex-direction: column;
    color: white;
}
