.profile-card {
    img {
        padding: 1px;
        width: 1000px;
        object-fit:cover;
        height: 250px;  
        transition: 0.25s ease-in-out;

        &:hover {
            opacity: 50%;
            transition: 0.25s ease-in-out;
        }
    }

}
