/* JUMBOTRON */

.jumbotron{
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 0px!important;
    &:hover {
        .video-overlay {
            right: 0;
        }
    }
    .video-overlay {
        z-index: 2;
        position: absolute;
        bottom: 10px;
        right: -350px;
        background-color: rgba( 0, 0, 0, 0.7);
        padding: 15px;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;

        a {
            position: relative;
            z-index: 4;
        }

        .overlay-values {
            font-weight: bold;
            font-size: 18px;
        }
    }
    .overlay-text {
        color: #ffffff;
        font-size: 18px;
        margin-top: -20px;
        font-family: 'Majesti-Banner-BoldItalic', sans-serif;
    }
    h1 {
        position: relative;
        z-index: 2;
        font-size: 50px!important;
    }
    #feature-video {
         position: absolute;
         height: auto;
         width: auto;
         min-height: 100%;
         min-width: 100%;
         left: 50%;
         top: 50%;
         -webkit-transform: translate3d(-50%, -50%, 0);
         transform: translate3d(-50%, -50%, 0);
         z-index: 1;
    }
 }

/* HEADLINES */
// .headline-wrapper {
//     color: white;
//     border-bottom: 2px solid #000;
//     position: relative;

//     .headline-nav {
//         color: white !important;
//         position: absolute;
//         bottom: 10px;
//         right: 0;
//     }
  

// }

.container-fluid {
    .nft-flex {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .carousel {
        padding: 5px;
        .carousel-item {
            &.active {   
                display: flex !important;
                justify-content: center;
            }
            img {
                max-height: 800px;
                min-width: auto;
            }
        }
    }
    .about-section {
        font-size: 25px;
    }
}