.profile-container {

	.profile-image {
		border-radius: 10px;
		border: solid 2px white;
		box-shadow: 0px 0px 20px rgb(97, 97, 97);
	}

	.profile-featured-nft {

    .nft-card {
    	background-image: -webkit-linear-gradient(
		90deg,
		rgba(255, 136, 124, 1) 0%,
		rgba(182, 50, 95, 1) 35%,
		rgba(255, 173, 0, 1) 100%
	  ); /* For Chrome and Safari */
	  background-image: -moz-linear-gradient(
		90deg,
		rgba(255, 136, 124, 1) 0%,
		rgba(182, 50, 95, 1) 35%,
		rgba(255, 173, 0, 1) 100%
	  ); /* For old Fx (3.6 to 15) */
	  background-image: -ms-linear-gradient(
		90deg,
		rgba(255, 136, 124, 1) 0%,
		rgba(182, 50, 95, 1) 35%,
		rgba(255, 173, 0, 1) 100%
	  ); /* For pre-releases of IE 10*/
	  background-image: -o-linear-gradient(
		90deg,
		rgba(255, 136, 124, 1) 0%,
		rgba(182, 50, 95, 1) 35%,
		rgba(255, 173, 0, 1) 100%
	  ); /* For old Opera (11.1 to 12.0) */
	  background-image: linear-gradient(
		90deg,
		rgba(255, 136, 124, 1) 0%,
		rgba(182, 50, 95, 1) 35%,
		rgba(255, 173, 0, 1) 100%
	  ); /* Standard syntax; must be last */
	  color: transparent !important;
	  background-clip: text;
    	}
	}
	.choose-file-button {
		color: white;
		padding-top: 8px;
	}
}