#landingPage {
  background: #000;
}

canvas {
  height: 100vh!important;
  width: 100vh;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.landing-block {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.landing-block h1 {
  font-size: 75px;
}

.btn.text-majesti {
  font-size: 20px;
  border:none;
  width: 7em;
}

.rainbow-btn {
  background-image: linear-gradient(90deg, #025b79 0%, #fde578 49%, #fd6a6a 80%, #64fd78 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  animation:slidebg 3.9s linear infinite;
}

.rainbow-btn {
  background: linear-gradient(105deg,
    /* Base gradient stops */
    #fa3a33, #d307fc, #1a5ef1, #3ed0fd,#3aff54, #f7fa50, #fd6a6a,
    /* Repeat your base gradient stops */
    #fa3a33, #d307fc, #1a5ef1, #3ed0fd, #3aff54, #f7fa50, #fd6a6a,
    /* Repeat your first gradient stop */
    #fa3a33);
  
  background-size: 200% 200%;
  animation: rainbow 5s linear infinite;
  border: 0;
  color: #fff;
  
}

@keyframes rainbow {
    0% { background-position: 100% 100% }
  100% { background-position: 0% 0% }
}

/* * {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  background: black;
}

.bounds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden !important;
    background-color: rgb(65, 65, 65); 
    z-index:0;
  } 

  .bounds-connected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden !important;
    background-color: black; 
    z-index:0;
    opacity: 1;
    animation-name: bounds-connected;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  } 


@keyframes bounds-connected {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

  .render {
    position: absolute;
    z-index: -1;
    height: 200vh;
    width: 200vh;
  }

.heading {
  text-transform: uppercase;
  font-size: 60px;
  color: white
}

.button-landing-mm {
  border: none;
  background-color: #000000;
  padding: 10px 20px 10px 20px;
  margin: 20px 10px 10px 15px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  font-weight: 400;
  transition: 0.5s
}

.button-landing {
  border: none;
  background-color: #000000;
  padding: 10px 20px 10px 20px;
  margin: 20px 10px 10px 15px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  font-weight: 400;
  transition: 0.5s;
  
}

.button-landing-mm:hover {
  background-color: rgb(230, 146, 50);
  color: white;
  padding: 10px 30px 10px 30px;
  transition: .5s;
}

.button-landing:hover {
  background-color: black;
  color:rgb(255, 255, 255);
  padding: 10px 30px 10px 30px;
  transition: 0.5s;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {background-color: rgb(0, 0, 0);}
  25% {background-color: rgb(214, 182, 0);}
  50% {background-color: rgb(0, 188, 212);}
  75% {background-color: rgb(250, 0, 0);}
  100% {background-color: rgb(0, 0, 0);}
} 

*/
