.jumbotron{
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 0px!important;
 }

#feature-video {
    position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.headline-wrapper {
    border-bottom: 2px solid #000;
}

/* .marketplace-body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 64px;
    color: #ffffff;
    opacity: 1;
	animation-name: marketplace-body;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes marketplace-body {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.feature {
    z-index: index 1;
    color:rgb(0, 0, 0);
    margin-top: -550px;
    height: 550px;
    border-radius: 2px 20px 2px 20px;
    background-color: rgb(208, 77, 212);
    width: 980px;
    animation-name: feature;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 20s;
}


@keyframes feature {
	0% {
		background-color: white;
	}
    10% {
		background-color: rgb(235, 126, 128);
	}
    20% {
		background-color: #ed79ff;
	}
    30% {
		background-color: #63f2fe;
	}
    40% {
		background-color: rgb(131, 221, 237);
	}
    50% {
		background-color: rgb(131, 211, 131);
	}
    60% {
		background-color: rgb(179, 211, 114);
	}
    70% {
		background-color: rgb(218, 218, 93);
	}
    80% {
		background-color: rgb(238, 175, 107);
	}
    90% {
		background-color: rgb(209, 96, 96);
	}
    100% {
		background-color: white;
	}
} 

.video-player {
    display: flex;
    margin: auto;
    padding-top: 20px;
    margin-top: 0px;
    justify-content: center;
    border-radius: 2px 20px 2px 20px;
    border: solid 5px  rgb(255, 255, 255) !important;
}

.stripes {
    margin-left: -20px;
}
.scrollcontent {
    flex-direction: column;
}
.headline {
    margin-top: 20px;
    margin-left: 10px;
    text-align: right;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
}
.welcome {
    text-align: left;
    margin-left: 10px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
}

 */
